@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid rgba(63, 62, 62, 0.24); */
}

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-m-bg: hsl(217, 54%, 11%);
    --very-dark-blue-c-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--very-dark-blue-m-bg);
}

img{
    width: 100%;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nft-card{
    width: 375px;
    background-color: var(--very-dark-blue-c-bg);
    border-radius: 1rem;
    padding: 1.5rem;
}

.nft-image{
    border-radius: .5rem;
}

.nft-card h2{
    color: var(--white);
    padding-top: 1rem;
}

.nft-card p{
    color: var(--soft-blue);
    font-weight: 300;
    padding-top: 1rem;
}

.price{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.creator{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.creator-ph{
    
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 50px;
    border: 1px solid var(--white);    
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: var(--soft-blue);
}

.attribution a {
    color: var(--cyan)
}