@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(63, 62, 62, 0.24); */
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-m-bg: hsl(216, 54%, 11%);
  --very-dark-blue-c-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--very-dark-blue-m-bg);
}

p {
  font-size: 18px;
}

img {
  width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nft-card {
  width: 375px;
  background-color: var(--very-dark-blue-c-bg);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0px 7px 33px 17px rgba(0, 0, 0, 0.35);
}

.color-block {
  background-color: aqua;
  position: absolute;
  min-height: 327px;
  min-width: 327px;
  border-radius: 10px;
  z-index: 1;
  opacity: 40%;
}

.block {
  min-height: 327px;
  min-width: 327px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.block:hover {
  opacity: 100%;
}

.eye-icon {
  max-width: 60px;
  position: absolute;
  display: flex;
  z-index: 2;
  opacity: 100;
}

.nft-image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.nft-name {
  color: var(--white);
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 100ms ease-in-out;
}

.nft-name:hover {
  color: var(--cyan);
  cursor: pointer;
}

.nft-description {
  color: var(--soft-blue);
  font-weight: 300;
  margin-bottom: 1rem;
}

.informations {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.etherium-section {
  display: flex;
}

.eth-icon {
  margin-right: 12px;
}

.eth-price {
  color: var(--cyan);
  font-weight: 600;
}

.clock-section {
  display: flex;
}

.clock-icon {
  margin-right: 12px;
}

.time-left {
  color: var(--soft-blue);
}

.divider {
  border: 1px solid var(--very-dark-blue-line);
  margin-top: 1rem;
}

.creator {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.creator-photo {
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 50px;
  border: 1px solid var(--white);
}

.creator-name {
  color: var(--soft-blue);
  font-weight: 300;
  font-size: 16px;
}

.creator a {
  color: var(--white);
  margin-left: 4px;
  text-decoration: none;
}

.creator a:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  color: var(--soft-blue);
}

.attribution a {
  color: var(--cyan);
}

@media (max-width: 400px) {
  .container {
    width: 80%vh;
  }
}
